table.App {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
  border-collapse: collapse;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

table.App th, table.App td {
  border: 1px solid #ddd; 
  padding: 8px;
}

table.App th {
  background-color: #f2f2f2;
}
